# Environment variables & secrets
.env
.env.*
!.env.example

# Credentials
credentials/
credentials.json
*.json
!requirements*.txt
!package*.json
!config/*.json

# Python cache & virtual environments
__pycache__/
__cache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
.ipynb_checkpoints/
.streamlit/

# Binary models & embeddings
*.pkl
*.faiss

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
